# Assigning Variables in Python

In [3]:
first_name = "souphaxay"
last_name = "naovalath"

In [4]:
print(first_name, last_name)

souphaxay naovalath

In [7]:
print("first line\nsecond line")

first line
second line

## challenge

#### 1. Input and display full name (002)

In [8]:
full_name = input("Please enter your full name: ")

Please enter your full name: souphaxay naovalath

In [9]:
print("Hello", full_name)

Hello souphaxay naovalath

#### 2. Enter three numbers; add together the first two numbers and then multiplly the total by the third (005)

In [11]:
x = int(input("Enter first value: "))
y = int(input("Enter second value: "))
z = int(input("Enter third value: "))

Enter first value: 15
Enter second value: 25
Enter third value: 5

In [12]:
print("The answer is ", x*y/z)

The answer is  75.0

# if statements

Three keywords: <b>if</b>, <b>elif</b> and <b>else</b>.<br><br>
#### Useful operators:

<img src="images/comp&logic operator.jpg"/>

#### examples:

In [18]:
num = 5

if num > 5:
    print("greater than 5!!")
elif num == 5:
    print("equal to 5")
else:
    print("less than 5")

equal to 5

## challenge

#### (019) 1. Ask the user to enter 1, 2 or 3. <br><br>  If they enter a 1, display the message "Thank you"<br>If they enter a 2, display "well done"<br>If they enter a 3, display "Correct"<br>If they enter anything else, display "Error message"

In [23]:
n = int(input("Enter a number (1, 2 or 3): "))

Enter a number (1, 2 or 3): 2

In [24]:
if n < 1 or n > 3:
    print("Error!!")
elif n == 1:
    print("Thank you")
elif n == 2:
    print("Well done")
else:
    print("Correct")

Well done

# Strings

#### Strings and Numbers as variables

In [38]:
number = 5
text = "your age is "''

#### When concatenating string type with int type, a problem arises

In [39]:
final_text = text + number
print(final_text)

TypeError: can only concatenate str (not "int") to str

#### This is how to fix this problem

In [40]:
number = str(number)
final_text = text + number
print(final_text)

your age is 5

#### Multiple-line Strings

In [41]:
address = """Tanmixay Village
Xaythany District
Vientiane Capital
"""

In [43]:
print(address)

Tanmixay Village
Xaythany District
Vientiane Capital

#### More on Strings in Python

<img src="images/strings.jpg" />

## challenge

#### (025) 1. Ask the user to enter their first name. If the length of their first name is under five characters, ask  them to enter their surname and join them  together (without a space) and display the name  in upper case. If the length of the first name is five or more characters, display their first name in lower case

In [48]:
first_name = input("Enter your first name: ")

Enter your first name: abc

In [49]:
if len(first_name) < 5:
    surname = input("Enter your surname: ")
    full_name = first_name + surname
    print(full_name.upper())
else:
    print(first_name.lower())

Enter your surname: edf
ABCEDF

# Maths

<img src="images/maths.jpg" />

## Challenge

In [2]:
import math

#### (030) 1. Display pi (π) to five decimal places.

In [3]:
print(round(math.pi, 5))

3.14159

#### Display the following message: <br><br>1/ square <br>2/ triangle <br><br>If the user enters 1, then it should ask them for the length of one of its sides and display the area. <br>If they select 2, it should ask for the base and height of the triangle and display the area. If they type in anything else, it should give them a suitable error message.

In [5]:
inital_message = """1/ square 
2/ triangle"""

In [16]:
print(inital_message)

choice = input("Enter a number (1 or 2): ")

if (choice != "1" and choice !=  "2"):
    print("Error!!")
else:
    if (choice == "1"):
        length = float(input("Enter a side length: "))
        print("The area of the square is ", length*length)
    else:
        base = float(input("Enter a base: "))
        height = float(input("Enter a height: "))
        area = base*height/2
        print("The are of the triangle is ", area)

1/ square
2/ triangle
Enter a number (1 or 2): 1
Enter a side length: 5.5
The area of the square is  30.25

## For Loop

<img src="images/for_loops.jpg" />

## Challenge

#### (042) 1. Set a variable called total to 0. Ask the user to enter five numbers and after each input ask them if they want that number included. If they do, then add the number to the total. If they do not want it included, don’t add it to the total. After they have entered all fivenumbers, display the total.

In [17]:
total = 0
for i in range(5):
    n = float(input("Enter a number: "))
    choice = input("Do you want to add this number to the sum (y or n) ")
    if (choice == 'y'):
        total += n
print("The total is ", total)

Enter a number: 1
Do you want to add this number to the sum (y or n) y
Enter a number: 2
Do you want to add this number to the sum (y or n) y
Enter a number: 3
Do you want to add this number to the sum (y or n) y
Enter a number: 4
Do you want to add this number to the sum (y or n) y
Enter a number: 5
Do you want to add this number to the sum (y or n) n
The total is  10.0

## While Loop